# Telegram Bot
BOT_TOKEN=YOUR_BOT_TOKEN
ADMIN_IDS=277236314

# Telegram API (Telethon) - from https://my.telegram.org/apps
API_ID=32351310
API_HASH=9b4e6a3d9fa116dccef9a20c3c961840

# Redis
REDIS_URL=redis://redis:6379

# Paths (don't change if using Docker)
SESSIONS_DIR=/app/sessions
DATA_DIR=/app/data
BACKUPS_DIR=/app/backups
